* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/********************* Navbar  *********************************/

        .logo {
            display: inline-block;
            margin: 20px 0px 0px 10px;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }
        .ul-list {
            list-style-type: none;
            display: inline-block;
            position: relative;
            margin: 0px 0px 20px 450px;
            
        }

        li {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: #000;
        }
        li a {
            text-decoration: none;
            cursor: pointer;
        }
        .button-btns{
            display: inline-block;
            cursor: pointer;
            background-color: #D9D9D9;
            border-radius: 8px;
            padding: 10px 20px 10px 20px;
            margin: 0px 25px 0px 60px;
        }

        .button-btns:hover {
            background-color: #06C0CC;
            color:white;
        }
        .button-btns:hover > li {
            color: white;
        }
        .header-home {
            padding: 10px 20px 10px 20px;
            background-color: #06C0CC;
            border-radius: 6px;
            cursor: pointer;
            display: inline-block;
        }
        .header-home-a{
        padding: 4px 20px 4px 20px;

        }
        .header-home-a:hover{
            color: #fff;
        }
        .header-contact:hover {
            color: #fff;
        }
        .header-dropbtn:hover{
            color: #fff;
        }
        .header-dropbtn{
            padding: 4px 13px 4px 13px;
        }
        .header-about-us {
            cursor: pointer;
            display: inline-block;
        }

        .header-dropdown-content {
            display: none;
            position: absolute;
            right: 17em;
            background-color: white;
            color: #000;
            z-index: 1;
            border-radius: 6px;
            padding-top: 20px;
            margin-top: 11px;
            transition: 0.5s ease-in-out;
        }

        .header-dropdown-content a {
            display: block;
            min-width: 120%;
            padding: 10px 20px 10px 20px;
            opacity: 90%;
        }

        .header-about-us:hover .header-dropdown-content {
            display: block;
            opacity: 90%;
            visibility:visible;
            transition: 0.5s ease-in-out;
        }

        .header-dropdown-content:hover .header-dropdown-content {
            display: block;

        }
        .header-contact-us {
            cursor: pointer;
            display: inline-block;
        }


/********************* Section 1  *********************************/

.hero{
    position: relative;

}
.hero-image{
    height: auto;
    width: 100%;
}
.hero-text{
    font-size: 40px;
    font-weight: 500;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 100px;
    right: 75px;
    letter-spacing: 1px;
}


.contact_button {
    background-color: #0A2D4F;
    color: #06C0CC;
    padding: 10px 40px;
    border-radius: 6px;
    cursor: pointer;
}


/********************* Gallery  *********************************/
.container {
	display: flex;
    margin-top: 15px;
}
.column {
	flex: 33.33%;
	height: 200px;
	padding: 10px;
	/* margin:15px 5px 5px 5px; */
    margin: 5px;
	text-align: center;
    
}
.gallery_heading {
    font-style: italic;
    font-weight: bolder;
    font-size: 22px;
    margin-left: 50px;
    
}

.gallery {
    margin-top: 60px;
    
}


.img-1,.img-2,.img-3{
    border-radius: 58px;
    box-shadow: 10px 14px 6px #D9D9D9;
}
.column h3{
    margin-top: 15px;
}

/********************* Form  *********************************/

#form-form {
    display:block;
}

.form-body{

    margin: 20rem 5rem 5rem 5rem; 
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    background-color: #ddd;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 0.25rem;
}
.form-h3{

    text-align: center;
    font-size: 24px;
}

.form-group {
    padding-top: 0.3rem;
    margin-bottom: 2.5rem;
}


.form-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
}


label.form-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}


.form-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.form-btn-primary {
    color: #fff;
    background-color: #0A2D4F;
    width: 26px;

}
.form-btn-primary:hover{
background-color: #06C0CC;
}
.form-btn-block {
    display: block;
    width: 15%;
    margin: auto;
}



/********************* Game  *********************************/


.game {
    margin-top: 60px;
    background-color: #ddd;
    height: 30rem;
    margin: auto 5rem;
}
.game_heading{
    font-style: italic;
    font-weight: bolder;
    font-size: 22px;
    margin-left: 50px;
    padding-top: 2rem;
}
.box-container{
    position: relative;
    margin-top: 4rem;
    
}
.box-1{
    position: absolute;
    width: 200px;
    left: 36rem;
    top: 2.53rem;
    transform: rotate(180deg);
    transition: all 1.2s ease-in-out
}
.box-1:hover{
    transform: rotate(60deg);
    transform: rotate(-180deg);
    transition: all 1.2s ease-in-out

}
.box-2{
    position: absolute;
    width: 200px;
    left:28rem;
    top:-1rem;
    transform: rotate(-180deg);
    transition: all 1.2s ease-in-out
}
.box-2:hover{
    transform: rotate(180deg);
    transition: all 1.2s ease-in-out

}
.box-3{
    position: absolute;
    width: 200px;
    left: 28rem;
    top:7rem;
    transform: rotate(180deg);
    transition: all 1.2s ease-in-out
    
}
.box-3:hover{
    transform: rotate(180deg);
    transform: rotate(-180deg);
    transition: all 1.2s ease-in-out

}

/********************* Footer *********************************/

.footer{
    margin-top: 60px;
    background-color: #ddd;
    height: 15rem;
}
.left-footer{
    float: left;
    width: 36%;
    margin-top: 2rem;
    margin-left: 4rem;
}
.left-footer p{
    padding-top: 1.5rem;
}
.right-footer{
    float: right;
    margin-top: 2rem;
    margin-right: 4rem;
}
th,td
{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
th,td{
    padding-bottom: 1rem;
}
th,td,a{
    color: inherit;
    text-decoration: none;
}